<!-- <div class="mb-3">
  <label class="form-label" for="prdCat">Category</label>
  <select class="form-select" aria-label="Default select example" id="prdCat" [(ngModel)]="selectedCategoryID">
    <option *ngFor="let item of catList" [value]="item.id">{{item.name}}</option>
  </select>
</div>
<hr>
<div class="text-secondary">
  {{selectedCategoryID}}
</div>
<hr> -->
<table class="table">
  <thead class="bg-dark text-light">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">AV.Quantity</th>
      <th scope="col">Price in USD</th>
      <th scope="col">Price in EGY</th>
      <th scope="col">Details</th>
      <th scope="col">Count</th>
      <th scope="col">Buy</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <!-- <tr *ngFor="let item of prodList; index as i; trackBy:prdTrackByFn"  -->
    <!-- [style.background]="(item.quantity == 0)? 'yellow' :'lightgray'" [class.d-none]="selectedCategoryID != item.categoryId"> -->
    <!-- <tr *ngFor="let item of prodList; let i=index" [hidden]="item.quantity==0"> -->
    <!-- <ng-container *ngFor="let item of prodList; let i=index"> -->
      <!-- <tr *ngIf="item.quantity!=0"> -->

        <tr *ngFor="let item of prdCatList; index as i">
        <!--Safe Navigation Operator-->
        <!-- <td>
          {{item?.quantity}}
        </td> -->

        <th scope="row">{{i+1}}</th>
        <td>{{item?.name}}</td>
        <!-- <td><img LightBox highLightColor ="red" [src]="item?.imageURL"></td> -->
        <td><img LightBox="red" defaultColr="yellow" [src]="item?.imageURL"></td>

        <td>
          <!-- <div *ngIf="item.quantity!=0; else outOfStock">{{item?.quantity}}</div>
          <ng-template #outOfStock>Out Of Stock</ng-template> -->
          <ng-container [ngSwitch]="item.quantity">
            <div *ngSwitchCase="0">Out of Stock</div>
            <div *ngSwitchCase="1">Last item!</div>
            <div *ngSwitchCase="2">Last 2 items!</div>
            <div *ngSwitchDefault>{{item.quantity}}</div>
          </ng-container>
        </td>

        <td>{{item.price | currency }}</td>
        <td>{{item.price | uSDtoEGY }}</td>
        <!-- <td>{{item.price | currency :'EUR'}}</td> -->
        <!-- #countQuantity temp variable -->
        <!-- <td><button class="btn btn-success" type="button" (click)="openProductDetails(item.id)">Details</button> </td>-->
        <td><a class="btn btn-success" role="button" [routerLink]="['/Products',item.id]">Details</a></td>

        <td><input class="form-control" type="number" #countQuantity></td> 
        <!-- <td><button class="btn btn-primary" type="button" (click)="buy(item.price , countQuantity.value)">Buy</button> -->
        <td><button class="btn btn-primary" type="button" (click)="buy(item.id,item.name,item.price , countQuantity.value)">Add to cart</button></td>
      </tr>
    <!-- </ng-container> -->
  </tbody>
</table>

<!-- <hr>
<h3>Total Order Price : {{OrderTotalPrice |currency}}</h3> -->


